node_modules*
notes.txt
TODO
out/
.gitignore
LICENSE
coverage
*.old*
/release-builds
.github/.env
/AppIcons
.DS_Store
assets/js/histogram.txt
/Products
command
assets/.DS_Store
ShbairPharma-backup-20260626-173645-fixed.zip
ShbairPharma-backup-20260626-181633.zip
